* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.btn {
    padding: 0.7em 1.2em;
    border-radius: 22px;    
    background-color: white;
    color: black;
}
p {    
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: bold;
}
/* jumbotron */
.jumbotron {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* navbar */
.navbar {
    width: 80%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-size: 0.7em;
    text-align: center;
}
.navbar-left-logo {
    width: 20%;
    vertical-align: middle;
}
.navbar-left-logo img {
    vertical-align: middle;
    height: 2em;
}
.navbar-list{
    width: 60%;
    list-style-type: none;
    display: inline;
}
.navbar-list li{
    display: inline-block;
    padding: 0 0.5em;
}
.navbar-list li a:hover, 
.navbar-list li a:focus, 
.navbar-list li a:active {
    text-decoration: underline;
}
.jumbotron a {
    text-decoration: none;
    color: white;
}
.navbar-right-col {
    width: 20%;
}
.navbar-right-col a{
    color: black;
}
a.btn:hover {
    color: #265ee8;
    text-decoration: underline
}

/* header content */
.jumbo-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 5em 0;
    color: white;
}
.jumbo-content h1 {
    line-height: 3em;
}
.jumbo-content p {
    line-height: 1.5em;
    font-size: 0.8em;
    margin-bottom: 1em;
}
.jumbo-btn-container a {
display: inline-block;
font-size: 0.8em;
margin: 0 0.5em;
}
a.white-text {
    color: black;
}
.jumbo-btn-container a.background-blu {
    background-color: #23272a;
}

/* main  */
main {
    width: 70%;
    margin: 0 auto;
}

/* row  */
.main-row-img {
    width: 60%;
    float: left;
    margin: 3em 0;
}
.main-row-img img {
    width: 90%;
    vertical-align: middle;
    margin-right: 2em;
}
.main-row-content {
    width: 40%;
    float: left;
    margin: 4.5em 0;
}
.main-row-content h1,
.main-row-content p {
    width: 70%;
}
.main-row-content p {
    margin-top: 1.5em;
}
/* last row  */
.last-row {
    width: 100%;
    text-align: center;
    margin-top: 4em;
}
.last-row img {
    width: 100%;
}
.last-row h1 {
    font-size: 1.7em;
}
.last-row p {
    margin-top: 1em;
}
/* main footer  */
.main-footer {
    margin: 3em 0;
}
.main-footer a {
    display: inline-block;
}
.main-footer div {
    margin: 0 auto;
    text-align: center;
}
.main-footer-btn {
    width: 100%;
    margin: 0 auto;
}
.main-footer-btn a {
    background-color: #7983F5;
    text-decoration: none;
    color: white;
}
.main-footer-text {
    background-image: url(../img/stars.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em 0;
}

